---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Привет Всем! Это я - Бахилин Никита. DevOps инженер. Учусь и работаю в России.
        <br />
        Tools:
      </p>
      <ul class="list-disc list-inside">
        <li>Golang</li>
        <li>Docker</li>
        <li>Linux</li>
        <li>Git</li>
        <li>C</li>
        <li>Ansible</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Интересуюсь ОС Linux.
    </p>
    <p class="text-sm font-light">
      DevOps возможность раскрыть все таланты своей натуры.
    </p>
  </div>
</Card>
