---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Tools and technologies I work with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Golang</strong></li>
    <li><strong>Ansible</strong></li>
    <li><strong>Python</strong></li>
    <li><strong>Linux</strong></li>
    <li><strong>Docker</strong></li>
    <li><strong>C</strong></li>
  </ul>
</Card>
